/*Hovedsidens layout*/
body,html	{
		width:100%;
		height:100%;
		margin:0 auto;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		}
/*Innenfor denne boksen ligger alt innholdet*/
#boks		{
		margin:0 auto;
		width:80%;
		height:100%;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		
		}
/*Egen boks for meny og logo/overskrift*/
#header		{
		width:100%;
		height:29%;	
		margin:0 auto;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		}
/*Boks til venstre for midtinnholdet*/
#venstre	{
		width:20%;
		float:left;
		margin-right:0px;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		}
/*Boks til høyre for midtinnholdet*/
#hoyre		{
		width:15%;
		float:right;
		margin-left:0px;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		}
/*Midten og der all informasjon finnes*/
#midten		{
		width:60%;
		margin:auto;
		text-align:left;
		background-color:#ffffff;
		padding-left:1em;
		padding-right: 1em;
		padding-bottom:1em;
		padding-top:0.2em;
		background-image:url('img/backgr2.png');
		background-attachment:fixed;
		}
/*Boks til den nederste delen av siden, der hvor vi legger inn blant annet bilde og link til html5 validering*/
#footer		{
		text-align: center;
		height:100px;
		background-color:#ffffff;
		width:80%;
		margin:0 auto;
		background-image:url('img/backgr.png');
		background-attachment:fixed;
		}
/*!------Her starter layout til menyen------!*/
ul, li, html, a	{margin:0; padding:0;
		}

li		{list-style-type:none;
		font-family: Sans-Serif;
		}

a		{
		text-decoration:none;
		color:#000000;
		}
		
ul#nav		{
		text-align:center;
		width: 30.5em;
		height: 2em;
		margin-left:auto;
		margin-right:auto;
		margin-top:2em;
		font-size: 1.3em;
		}

ul#nav li	{
		position:relative;
		float: left;
		width:5em;
		height: 2em;
		line-height:2em;
		background-color:#fddd7c;
		border-right:2px dotted #292929;
		font-family: Sans-serif;
		}

ul#nav li.noBorder
		{
		border-right: none;
		}

ul#nav li:hover	{
		background-color: #c2c2c2;
		}

ul#nav li a	{
		display:block;
		float:left;
		width:100%;
		}

ul#nav li ul	{
		display:none;
		}

ul#nav li:hover ul
		{
		display:inline;
		float:left;
		width:10em;
		height:auto;
		margin:0;
		padding:0;
		text-align:left;
		font-size: 1em;
		}

ul#nav li:hover ul li
		{
		width:100%;
		height:2em;
		background-color:#c2c2c2;
		border:none;
		border-bottom: 1px dotted #656667;
		overflow:hidden;
		}

ul#nav li:hover ul li a
		{
		display: block;
		margin:0;
		padding:0 0 0 .3em;
		height:100%;
		line-height:2em;
		}

ul#nav li:hover ul li a:hover
		{
		background-color:#fddd7c;
		}
/*!------Layout til meny ferdig------!*/
/*Lager en h1 klasse som sentrerer teklsten*/
h1.overs	{
		text-align:center;
		font-family: Sans-Serif;
		}
/*Lager en paragraf klasse som sentrerer teksten*/
p.senter	{
		text-align:center;
		}
/*En bildeklasse som tar bort borden på bildet i tillegg til at bilde tar 100% av den plassen den kan ta i boksen midten*/		
img.bilde1	{
		border: none;
		width:100%;
		}
/*En liste som gir listen sirkler*/		
li.generell	{list-style-type:circle;
		font-family: Sans-Serif;
		}
/*En liste som gir listen firkanter*/
li.generell2	{list-style-type:square;
		font-family: Sans-Serif;
		margin-left:5%;
		}
/*Legger til en ekstra marg på 5%*/
div.margfive	{
		margin-left:5%;
		}
/*Lager linkklassen musover som gir linkene blå farge og rød farge når musen kommer over den. I tillegg har vi tatt bort streken under linken*/
a:hover.musover	{
		text-decoration:none;
		color:#ff0000;
		}
a.musover	{
		color:navy;
		}
p		{
		font-family: Sans-Serif;
		}
td		{
		font-family: Sans-Serif;
		}
strong		{
		font-family: Sans-Serif;
		}
h2		{
		font-family: Sans-Serif;
		}
h2.overs	{
		text-align:center;
		}